:root {
	--info: #5c6bc0;
	--info-focus: #6e7cc7;
	--success: #43a047;
	--success-focus: #4bb24f;
	--warning: #ff7043;
	--warning-focus: #ff835d;
	--danger: #e53935;
	--danger-focus: #e84f4c;
	--transparent: transparent;

	--light: #f1f1f1;
	--dark: #222831;

	--link: #a4ebf3;
	--purple: #6930c3;
	--purple-focus: #4d238e;

	--small-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	--medium-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

	--bg: #222831;
	--text: #f1f1f1;
}

.MuiOutlinedInput-notchedOutline {
	border-color: var(--text) !important;
}

.light {
	--bg: #f1f1f1;
	--bg-no-opacity: rgba(57, 62, 70);
	--text: #222831;
	--text-reverse: rgba(255, 255, 255, 0.7);
	--link-hover: rgba(0, 0, 0, 0.5);
	background-color: var(--bg);
	color: var(--text);
	transition: all 0.2s ease-in;
}

.dark {
	--bg: #222831;
	--bg-no-opacity: rgba(57, 62, 70, 0.5);
	--text: #f1f1f1;
	--text-reverse: rgba(0, 0, 0, 0.7);
	--link-hover: rgba(255, 255, 255, 0.5);
	background-color: var(--bg);
	color: var(--text);
	transition: all 0.2s ease-in;
}

html,
body {
	height: 100%;
	font-family: "Roboto";
}

* {
	color: inherit;
}
